mixin header-block(parameter)
  -
    var
      parameter = parameter || {};

      logoImage = parameter.image || "logo";
      logoAltImage = parameter.altImage || "logo SEO alt";
      logoTitleImage = parameter.titleImage || "logo SEO title";
      logoSlogan = parameter.logoSlogan || "гарантия ";
      logoSloganSpan = parameter.logoSloganSpan || "качества";

      menuTitles = parameter.menuTitles || ["1", "2", "3", "4", "5"];
      menuLinks = parameter.menuLinks || [""];

  //-

  .header-block
    .header-block__wrapper
      .header-block__logo
        a.header-block__logo-link(href="index.html")
          +logo({
            image: logoImage,
            altImage: logoAltImage,
            titleImage: logoTitleImage,
            slogan: logoSlogan,
            sloganSpan: logoSloganSpan
          })

      .header-block__menu
        +menu({
          titles: menuTitles,
          links: menuLinks
        })

      //- TODO: for step #4
      .header-block__authorization