@charset "UTF-8";
/* */
@font-face {
  font-family: "customFont";
  font-display: "swap";
  src: url("../fonts/Exo2.ttf"); }
/* */
html {
  overflow-x: hidden;
  font-size: 10px; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "customFont", "Arial";
  font-size: 2rem; }

.chapter {
  display: flex;
  width: 100%;
  border: 0.1rem solid black;
  border-color: transparent;
  align-items: center; }
  .chapter__title {
    width: auto;
    font-weight: bold;
    text-transform: lowercase;
    color: #24292E;
    border: 0.1rem solid green;
    border-color: transparent;
    letter-spacing: 0.12rem; }
    @media screen and (max-width: 360px) {
      .chapter__title {
        padding-left: 0.5rem;
        padding-right: 0.5rem; } }
    .chapter__title:first-letter {
      text-transform: uppercase; }
  .chapter__indent {
    margin-top: 3.5rem; }
  .chapter__size {
    color: #24292E; }
    .chapter__size-standard {
      height: 7rem;
      font-size: 2.5rem; }
    .chapter__size-small {
      height: 3rem;
      font-size: 1.5rem; }

.button {
  /**
   * NOTE:
   * for ripple animation:
   * position: relative
   * overflow: hidden
   */ }
  .button-standard {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    font-family: "customFont", "Arial";
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    text-overflow: ellipsis;
    color: #24292E;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    /* NOTE: for site component's */ }
    .button-standard:first-letter {
      text-transform: uppercase; }
    .button-standard:active {
      border-bottom: 0.1rem solid #1A3159;
      transform: translate(0rem, 0.8rem); }
    .button-standard__size-standard {
      width: 18.5rem;
      height: 4rem;
      padding: 0;
      font-size: 2.5rem; }
    .button-standard__color {
      background: white;
      border: 0.1rem solid #1A3159;
      border-bottom: 0.25rem solid #1A3159;
      border-radius: 2rem; }
      .button-standard__color:hover {
        background: #F2F2F2; }
    .button-standard__effect {
      transition: all 0.1s; }
  .button-arrow {
    position: relative;
    display: inline-block;
    float: left;
    width: 4.4rem;
    height: 4.4rem;
    margin: 0 0.5rem;
    background: url("../ui-kit/button/images/arrows.png") no-repeat;
    border: 0.1rem solid red;
    border-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    vertical-align: bottom; }
    .button-arrow__direction-left {
      margin: 0.5rem 0.5rem;
      background-position: -9px -7px; }
    .button-arrow__direction-right {
      margin: 0.5rem 0.5rem;
      background-position: -65px -7px; }
    .button-arrow__direction-left:hover {
      background-position: -121px -7px; }
    .button-arrow__direction-right:hover {
      background-position: -177px -7px; }
    .button-arrow__direction-left:active {
      background-position: -232px -7px; }
    .button-arrow__direction-right:active {
      background-position: -288px -7px; }

/* NOTE: ripple effect, look in ripple.js */
.ripple_standard {
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(50, 102, 217, 0.7);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: ripple_standard 0.4s linear; }

@keyframes ripple_standard {
  100% {
    transform: scale(2);
    opacity: 0; } }
.ripple_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 204, 0, 0.7);
  opacity: 1;
  transform: scale(0);
  animation: ripple_standard 0.4s linear; }

@keyframes ripple_arrow {
  100% {
    transform: scale(2);
    opacity: 0; } }
.logo {
  width: auto;
  height: 3rem;
  margin: 0.5rem auto 0.5rem auto;
  border: 0.1rem dotted blue;
  border-color: transparent;
  transition: all 0.2s; }
  .logo:hover {
    transform: scale(1.08); }
  .logo__wrapper {
    width: 14.5rem;
    height: 5.1rem;
    margin: 0 auto 0 auto; }
    @media screen and (max-width: 1160px) {
      .logo__wrapper {
        width: 7rem; } }
  .logo__image {
    float: left;
    width: 6.8rem;
    height: 4.6rem;
    margin: 0.3rem auto 0 auto;
    border: 0.1rem solid green;
    border-color: transparent; }
    @media screen and (max-width: 1160px) {
      .logo__image {
        margin-top: 0; } }
  .logo__slogan {
    float: right;
    width: 7rem;
    margin: 1.1rem auto 0 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border: 0.1rem solid green;
    border-color: transparent;
    word-spacing: 0.5rem; }
    @media screen and (max-width: 1160px) {
      .logo__slogan {
        display: none; } }
    .logo__slogan-span {
      color: #FFCC00; }

.menu {
  width: auto;
  height: auto;
  margin: 0 auto 0 atuo;
  border: 0.1rem solid red;
  border-color: transparent; }
  @media screen and (max-width: 1160px) {
    .menu .menu-nav__burger {
      position: absolute;
      top: 2.3rem;
      right: 2rem;
      z-index: 1;
      display: block;
      width: 2.5rem;
      height: 2.3rem;
      font-size: 0;
      color: transparent;
      background: url("../images/menu/menu-burger.svg") no-repeat;
      cursor: pointer; }
    .menu .menu-nav__burger-checkbox:checked + .menu-nav__burger {
      background-image: url("../images/menu/menu-cross.svg"); }
    .menu .menu-nav {
      position: absolute;
      top: 5rem;
      right: 0;
      z-index: 100;
      display: none;
      height: 0; }
      .menu .menu-nav .menu-nav__list {
        width: 30rem; }
      .menu .menu-nav__item {
        display: block;
        height: 5.6rem;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #4583d8;
        transition: background-color 0.1s linear, color 0.1s linear;
        line-height: 5.6rem; } }
    @media screen and (max-width: 1160px) and (max-width: 550px) {
      .menu .menu-nav__item:first-child {
        height: 7rem;
        padding-top: 1rem; } }
    @media screen and (max-width: 1160px) and (max-width: 310px) {
      .menu .menu-nav__item:first-child {
        height: 5.6rem;
        padding-top: 0; } }
  @media screen and (max-width: 1160px) {
        .menu .menu-nav__item:not(:first-of-type) {
          border-top: 0.1rem solid rgba(255, 255, 255, 0.2); }
        .menu .menu-nav__item:not(:last-of-type) {
          border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2); }
        .menu .menu-nav__item:last-of-type {
          box-shadow: inset 0 -0.5rem 0.1rem -0.5rem rgba(0, 0, 0, 0.4); }
        .menu .menu-nav__item:hover {
          background-color: #2768c1; }
        .menu .menu-nav__item:active {
          color: #fff;
          background-color: #2768c1; }
    .menu .menu-nav__burger-checkbox:checked ~ .menu-nav {
      display: block; } }
  .menu-nav {
    display: flex;
    width: inherit;
    height: 3rem;
    align-items: center; }
    .menu-nav__burger-checkbox, .menu-nav__burger {
      display: none; }
    .menu-nav__button {
      display: none; }
      .menu-nav__button-checkbox {
        display: none; }
    .menu-nav__list {
      float: left;
      margin-left: 0;
      padding-left: 0;
      border: 0.1rem solid green;
      border-color: transparent; }
    .menu-nav__item {
      float: left;
      width: 15rem;
      font-size: 2.5rem;
      text-align: center;
      text-transform: lowercase;
      border: 0.1rem solid green;
      border-color: transparent;
      list-style-type: none; }
      .menu-nav__item:first-letter {
        text-transform: uppercase; }
    .menu-nav__link {
      position: relative;
      padding-bottom: 0.2rem;
      text-decoration: none;
      color: #FFFFFF;
      outline: none; }
      @media screen and (max-width: 1160px) {
        .menu-nav__link {
          display: block; } }
      .menu-nav__link:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: #FFCC00;
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(1rem);
        visibility: hidden;
        content: ""; }
        @media screen and (max-width: 1160px) {
          .menu-nav__link:after {
            width: 35%;
            left: 32.5%;
            top: 80%; } }
      .menu-nav__link:hover::after {
        opacity: 1;
        transform: translateY(0.2rem);
        visibility: visible; }

.slider {
  display: flex;
  width: auto;
  height: auto;
  border: 0.1rem dotted blue;
  border-color: transparent;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 1300px) {
    .slider {
      justify-content: flex-start; } }
  @media screen and (max-width: 1000px) {
    .slider {
      height: 70rem; } }
  .slider__image {
    margin: 0 auto 0 auto;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    max-height: 85rem;
    object-fit: cover; }
  .slider__wrapper {
    position: absolute;
    width: 120rem;
    height: 50rem;
    border: 0.1rem solid red;
    border-color: transparent; }
    @media screen and (max-width: 1300px) {
      .slider__wrapper {
        width: auto;
        height: auto;
        margin-left: 3vh;
        margin-right: 4vh; } }
  .slider__poster {
    width: 55rem;
    height: auto;
    color: #24292E;
    border: 0.1rem solid green;
    border-color: transparent; }
    @media screen and (max-width: 600px) {
      .slider__poster {
        width: auto; } }
    .slider__poster-title, .slider__poster-desc {
      margin-left: 1rem;
      text-transform: lowercase;
      border: 0.1rem solid green;
      border-color: transparent; }
      .slider__poster-title:first-letter, .slider__poster-desc:first-letter {
        text-transform: uppercase; }
    .slider__poster-title {
      width: 33rem;
      font-size: 4rem;
      font-weight: 700; }
      @media screen and (max-width: 700px) {
        .slider__poster-title {
          width: auto; } }
    .slider__poster-desc {
      font-size: 2rem;
      color: #586069; }
  .slider__button {
    width: 20rem;
    height: 4.5rem;
    border: 0.1rem dotted blue;
    border-color: transparent; }
    @media screen and (max-width: 600px) {
      .slider__button {
        margin-left: auto;
        margin-right: auto; } }

.events {
  display: inline-block;
  width: 35rem;
  height: auto;
  border: 0.1rem solid #F2F2F2;
  overflow: hidden; }
  .events:first-child {
    margin-right: 2rem; }
    @media screen and (max-width: 830px) {
      .events:first-child {
        margin-right: 0; } }
  .events:last-child {
    margin-left: 2rem; }
    @media screen and (max-width: 830px) {
      .events:last-child {
        margin-left: 0; } }
  @media screen and (max-width: 1100px) {
    .events {
      width: 30rem; } }
  @media screen and (max-width: 830px) {
    .events {
      width: 35rem;
      margin-bottom: 2rem; } }
  @media screen and (max-width: 360px) {
    .events {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem; } }
  .events:last-child {
    margin-right: 0; }
    @media screen and (max-width: 360px) {
      .events:last-child {
        margin-left: 1rem;
        margin-right: 1rem; } }
  .events:hover .events__image {
    opacity: 0.8;
    transform: scale(1.04); }
  .events__link {
    width: 34rem;
    height: 24rem;
    margin: 1rem auto 0 auto;
    text-decoration: none;
    outline: none; }
    @media screen and (max-width: 1100px) {
      .events__link {
        width: auto; } }
  .events__image {
    width: 35rem;
    height: 25rem;
    transition: all 0.2s; }
    @media screen and (max-width: 1100px) {
      .events__image {
        max-width: 100%;
        object-fit: cover; } }
  .events__content {
    width: 35rem;
    height: 10rem;
    margin-top: 1rem;
    text-decoration: none;
    border: 0.1rem dotted blue;
    border-color: transparent; }
    @media screen and (max-width: 1100px) {
      .events__content {
        width: auto; } }
  .events__title {
    margin: 0.5rem;
    font-size: 2.5rem;
    text-overflow: ellipsis;
    text-transform: lowercase;
    color: #24292E;
    border: 0.1rem solid red;
    border-color: transparent;
    overflow: hidden;
    white-space: nowrap; }
    .events__title:first-letter {
      text-transform: uppercase; }
  .events__desc {
    height: 5rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-transform: lowercase;
    color: #586069;
    border: 0.1rem solid red;
    border-color: transparent;
    overflow: hidden; }
    .events__desc:first-letter {
      text-transform: uppercase; }

.service {
  display: flex;
  width: 16rem;
  height: 22rem;
  border-bottom: 0.2rem solid white;
  transition: all 0.2s;
  justify-content: center; }
  .service:hover {
    border-color: transparent; }
  .service:hover .service__image {
    opacity: 0.8;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 1250px) {
    .service {
      margin: 0 2rem 0 0; }
      .service:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 880px) {
    .service {
      float: left;
      margin-right: 1rem;
      width: auto; } }
  @media screen and (max-width: 830px) {
    .service {
      margin: 0 1rem 2rem 1rem; } }
  .service__link {
    text-decoration: none;
    border: 0.1rem dotted blue;
    border-color: transparent;
    outline: none; }
  .service__image {
    width: 15rem;
    height: 15rem;
    transition: all 0.2s; }
    @media screen and (max-width: 880px) {
      .service__image {
        max-width: 100%;
        object-fit: cover; } }
  .service__title {
    height: 5rem;
    width: 13.7rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-transform: lowercase;
    text-align: center;
    color: #586069;
    border: 0.1rem solid red;
    border-color: transparent;
    overflow: hidden; }
    .service__title:first-letter {
      text-transform: uppercase; }

.article {
  display: flex;
  float: left;
  width: 38rem;
  height: 25rem;
  margin: 1rem;
  border: 0.1rem solid #F2F2F2;
  justify-content: center;
  transition: all 0.4s; }
  @media screen and (max-width: 1210px) {
    .article {
      width: 30rem; } }
  @media screen and (max-width: 970px) {
    .article {
      width: 25rem; } }
  @media screen and (max-width: 830px) {
    .article {
      width: 34rem;
      margin: 1rem 1rem 1rem 0; } }
  @media screen and (max-width: 360px) {
    .article {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem; } }
  .article:nth-child(3n) {
    margin-right: 0; }
  .article__picture {
    position: absolute;
    z-index: 1;
    width: 38rem;
    height: 25rem;
    transition: all 0.2s; }
    @media screen and (max-width: 1210px) {
      .article__picture {
        width: 30rem;
        object-fit: cover; } }
    @media screen and (max-width: 970px) {
      .article__picture {
        width: 25rem; } }
    @media screen and (max-width: 830px) {
      .article__picture {
        width: 34rem; } }
    @media screen and (max-width: 360px) {
      .article__picture {
        width: 25rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border: 0.1rem solid red;
        border-color: transparent; } }
  .article:nth-child(3n+1) {
    margin-left: 0; }
    @media screen and (max-width: 360px) {
      .article:nth-child(3n+1) {
        margin-left: 1.5rem; } }
  .article:hover {
    opacity: 0.8;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8); }
  .article:hover .article__image {
    transform: scale(1.08); }
  .article:hover .article__picture {
    opacity: 0.4; }
  .article:hover .article__title {
    margin: 1.5rem 0 0 2.7rem;
    color: #24292E;
    text-shadow: none; }
    @media screen and (max-width: 360px) {
      .article:hover .article__title {
        margin: 1.5rem 0 0 0; } }
  .article:hover .article__desc {
    display: block; }
  .article__link {
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    text-decoration: none;
    border: 0.1rem dotted blue;
    border-color: transparent;
    outline: none; }
  .article__image {
    float: right;
    width: 3.6rem;
    height: 3.5rem;
    margin: 1rem;
    border: 0.1rem solid green;
    border-color: transparent;
    transition: all 0.2s; }
    @media screen and (max-width: 360px) {
      .article__image {
        padding-right: 4rem; } }
    @media screen and (max-width: 330px) {
      .article__image {
        padding-right: 2rem; } }
  .article__title {
    margin: 21rem 0 0 0.5rem;
    font-size: 2.5rem;
    text-overflow: ellipsis;
    text-transform: lowercase;
    color: #FFFFFF;
    border: 0.1rem dotted blue;
    border-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.5rem black, 0 0 1em #24292E; }
    @media screen and (max-width: 360px) {
      .article__title {
        text-align: center; } }
    .article__title:first-letter {
      text-transform: uppercase; }
  .article__desc {
    display: none;
    width: 32rem;
    height: 18rem;
    margin: 0.5rem auto 0 auto;
    font-size: 2rem;
    text-transform: lowercase;
    color: #586069;
    border: 0.1rem dotted blue;
    border-color: transparent;
    overflow: hidden; }
    @media screen and (max-width: 1210px) {
      .article__desc {
        width: 28rem; } }
    @media screen and (max-width: 970px) {
      .article__desc {
        width: 23rem; } }
    @media screen and (max-width: 830px) {
      .article__desc {
        width: 28rem; } }
    @media screen and (max-width: 360px) {
      .article__desc {
        width: 23rem;
        margin: 0.5rem auto 0 1.5rem; } }
    .article__desc:first-letter {
      text-transform: uppercase; }

.social {
  display: flex;
  float: left;
  margin: 0 1rem 0 0;
  transition: all 0.2s;
  justify-content: center; }
  .social__link {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    text-decoration: none;
    border: 0.1rem dotted blue;
    border-color: transparent;
    outline: none; }
    .social__link:hover {
      opacity: 0.8; }
  .social__image {
    width: 3.8rem;
    height: 3.8rem; }

.mini-menu {
  width: auto;
  height: auto;
  margin-top: 0rem;
  padding: 0.8rem 0 0.2rem 0;
  font-size: 1.2rem;
  border: 0.1rem solid black;
  border-color: transparent;
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem; }
  @media screen and (max-width: 1160px) {
    .mini-menu {
      margin-bottom: 1rem; } }
  .mini-menu:first-letter {
    text-transform: uppercase; }
  .mini-menu__link {
    position: relative;
    text-transform: lowercase;
    text-decoration: none;
    color: #1883B3;
    outline: none; }
    .mini-menu__link:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #1883B3;
      opacity: 0;
      transition: all 0.2s;
      transform: translateY(1rem);
      visibility: hidden;
      content: ""; }
    .mini-menu__link:hover::after {
      opacity: 1;
      transform: translateY(0.2rem);
      visibility: visible; }
  .mini-menu__paragraph {
    margin: 0;
    color: #586069; }
    .mini-menu__paragraph:first-letter {
      text-transform: uppercase; }

.contact {
  display: flex;
  width: 40rem;
  height: 14rem;
  margin: 0.5rem auto 0.5rem 0;
  text-align: center;
  border: 0.1rem dotted blue;
  border-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 1210px) {
    .contact:nth-child(2n+1) {
      width: 25rem; } }
  @media screen and (max-width: 970px) {
    .contact {
      width: 100%; }
      .contact:nth-child(2n+1) {
        width: 100%; } }
  @media screen and (max-width: 830px) {
    .contact {
      height: auto;
      min-height: 10rem; } }
  .contact__image {
    width: 3rem;
    height: 3rem;
    border: 0.1rem dotted blue;
    border-color: transparent; }
  .contact__caption {
    margin-top: 1.5rem;
    text-decoration: none;
    color: #1883B3;
    border: 0.1rem solid green;
    border-color: transparent;
    outline: none; }
    @media screen and (max-width: 970px) {
      .contact__caption {
        padding: 0 15rem 0 15rem; } }
    @media screen and (max-width: 830px) {
      .contact__caption {
        padding: 0; } }
  .contact__phone, .contact__mail {
    position: relative; }
    .contact__phone:after, .contact__mail:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #FFCC00;
      opacity: 0;
      transition: all 0.2s;
      transform: translateY(1rem);
      visibility: hidden;
      content: ""; }
    .contact__phone:hover::after, .contact__mail:hover::after {
      opacity: 1;
      transform: translateY(0.2rem);
      visibility: visible; }

.feed-back__label-wrapper {
  width: auto;
  height: auto;
  margin-bottom: 3.5rem; }
.feed-back__label {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.5rem 0.5rem 0.7rem 0.5rem;
  font-size: 2rem;
  text-align: left;
  text-transform: lowercase;
  color: #586069;
  border: 0.1rem solid black;
  border-color: transparent; }
  .feed-back__label:first-letter {
    text-transform: uppercase; }
  @media screen and (max-width: 970px) {
    .feed-back__label {
      padding-left: 5rem;
      padding-right: 5rem;
      text-align: center; } }
  @media screen and (max-width: 830px) {
    .feed-back__label {
      padding-left: 0;
      padding-right: 0; } }
.feed-back__form {
  width: 73.8rem;
  height: 28rem;
  margin: 0 auto 0 auto;
  border: 0.1rem solid black;
  border-color: transparent; }
  @media screen and (max-width: 830px) {
    .feed-back__form {
      width: auto;
      height: auto; } }
  .feed-back__form-advanced {
    height: 52.5rem; }
    @media screen and (max-width: 830px) {
      .feed-back__form-advanced {
        width: auto;
        height: auto;
        margin-bottom: 6rem; } }
    .feed-back__form-advanced_additional {
      display: flex;
      width: 73.8rem;
      height: 4.7rem;
      margin: 2rem auto 1.8rem auto;
      border: 0.1rem solid black;
      border-color: transparent;
      justify-content: space-around; }
      @media screen and (max-width: 830px) {
        .feed-back__form-advanced_additional {
          display: block;
          width: 29.8rem;
          height: 11.3rem; } }
      @media screen and (max-width: 360px) {
        .feed-back__form-advanced_additional {
          display: flex;
          width: 14rem;
          height: auto;
          flex-direction: column; } }
.feed-back__input {
  width: auto;
  height: 4.4rem;
  padding-left: 2rem;
  font-size: 2rem;
  color: #586069;
  border: none;
  border-bottom: 0.1rem solid #F2F2F2;
  border-radius: 0.7rem; }
.feed-back__name {
  width: 70rem;
  margin: 1rem 1rem 1.5rem 1rem; }
  @media screen and (max-width: 830px) {
    .feed-back__name {
      width: 31rem; } }
  @media screen and (max-width: 360px) {
    .feed-back__name {
      width: auto; } }
.feed-back__phone {
  width: 32.9rem;
  margin: 1rem 1rem 1.5rem 1rem; }
  @media screen and (max-width: 830px) {
    .feed-back__phone {
      width: 31rem; } }
  @media screen and (max-width: 360px) {
    .feed-back__phone {
      width: auto; } }
.feed-back__email {
  width: 32.9rem;
  margin: 1rem 0 1.5rem 1rem; }
  @media screen and (max-width: 830px) {
    .feed-back__email {
      width: 31rem; } }
  @media screen and (max-width: 360px) {
    .feed-back__email {
      width: auto; } }
.feed-back__address, .feed-back__description, .feed-back__message {
  width: 70rem;
  margin: 1rem 1rem 1rem 1rem; }
  @media screen and (max-width: 830px) {
    .feed-back__address, .feed-back__description, .feed-back__message {
      width: 31rem; } }
  @media screen and (max-width: 360px) {
    .feed-back__address, .feed-back__description, .feed-back__message {
      width: auto; } }
.feed-back__button {
  float: right;
  width: 20rem;
  margin: 1rem 0 1rem 0;
  border: 0.1rem dotted blue;
  border-color: transparent; }
  @media screen and (max-width: 830px) {
    .feed-back__button {
      float: none;
      margin: 5.6rem auto 0 auto; } }
  @media screen and (max-width: 420px) {
    .feed-back__button {
      width: auto;
      margin: 2.6rem auto 0 auto; } }

.map {
  width: auto;
  height: auto; }

.tick-box {
  width: 14rem;
  height: 4.7rem;
  border: 0.1rem solid black;
  border-color: transparent; }
  @media screen and (max-width: 830px) {
    .tick-box {
      float: right;
      margin-bottom: 1.5rem; }
      .tick-box:nth-child(2n+1) {
        float: left; } }
  @media screen and (max-width: 360px) {
    .tick-box {
      float: none; } }
  .tick-box__case {
    width: 6rem;
    min-height: 6rem;
    margin: 5.6rem 0.5rem 0 0.5rem;
    border: 0.1rem solid red;
    border-color: transparent; }
  .tick-box__check {
    display: none; }
    .tick-box__check:checked + .tick-box__label:before {
      color: #FFCC00;
      background-color: #1A3159;
      transition: all 0.2s; }
  .tick-box__label {
    cursor: pointer; }
    .tick-box__label:before {
      position: absolute;
      width: 2.3rem;
      min-height: 1.6rem;
      margin: 1rem 0 0 0.8rem;
      padding-top: 0.7rem;
      font-size: 4rem;
      line-height: 0.2rem;
      color: #B6B6B6;
      background: #E5E5E5;
      border-radius: 5rem;
      transition: all 0.2s;
      content: "✓"; }
  .tick-box__caption {
    padding: 0 0 0.5rem 4rem;
    line-height: 2;
    border: 0.1rem solid red;
    border-color: transparent;
    cursor: pointer;
    user-select: none; }

.header-block {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 7rem;
  background: #1A3159;
  border: 0.1rem solid red;
  border-color: transparent;
  opacity: 0.9;
  transition: all 0.4s; }
  .header-block__wrapper {
    display: flex;
    width: 120rem;
    height: inherit;
    margin: 0 auto 0 auto;
    border: 0.1rem solid green;
    border-color: transparent;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 1160px) {
      .header-block__wrapper {
        display: block; } }
  .header-block__logo {
    display: block;
    width: 15.8rem;
    height: 6.1rem;
    margin-right: auto;
    background: #1A3159;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 680px) {
      .header-block__logo {
        position: absolute;
        z-index: 999; } }
    @media screen and (max-width: 1160px) {
      .header-block__logo {
        position: absolute;
        left: 43%;
        width: 8rem;
        height: 6.2rem;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem; } }
    @media screen and (max-width: 380px) {
      .header-block__logo {
        left: 45%; } }
    @media screen and (max-width: 360px) {
      .header-block__logo {
        left: 50%; } }
    @media screen and (max-width: 310px) {
      .header-block__logo {
        display: none; } }
    .header-block__logo-link {
      display: block;
      width: inherit;
      height: inherit;
      border: 0.1rem solid black;
      border-color: transparent;
      text-decoration: none;
      outline: none; }
      @media screen and (max-width: 1160px) {
        .header-block__logo-link {
          border-bottom-left-radius: 0.2rem;
          border-bottom-right-radius: 0.2rem; } }
  .header-block__menu {
    float: left;
    width: auto;
    border: 0.1rem solid red;
    border-color: transparent; }
    @media screen and (max-width: 1160px) {
      .header-block__menu {
        float: right; } }
  .header-block__authorization {
    float: right;
    width: 15rem;
    height: inherit;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1160px) {
      .header-block__authorization {
        position: absolute;
        left: 0; } }

.main-slider {
  z-index: 1;
  width: 100%;
  height: auto;
  border: 0.1rem solid red;
  border-color: transparent;
  clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 100%); }
  .main-slider__wrapper {
    border: 0.1rem solid black;
    border-color: transparent; }
  .main-slider__list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .main-slider__item {
    border: 0.1rem solid green;
    border-color: transparent;
    list-style-type: none; }

.events-block {
  width: 100%;
  height: 45.5rem;
  border: 0.1rem solid red;
  border-color: transparent; }
  @media screen and (max-width: 830px) {
    .events-block {
      height: auto; } }
  .events-block__wrapper {
    width: 120rem;
    height: inherit;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1250px) {
      .events-block__wrapper {
        width: auto;
        margin: 0 1rem 0 1rem; } }
    @media screen and (max-width: 830px) {
      .events-block__wrapper {
        width: 35.5rem;
        height: auto;
        margin: 0 auto 0 auto; } }
    @media screen and (max-width: 360px) {
      .events-block__wrapper {
        width: auto; } }
  .events-block__content {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 830px) {
      .events-block__content {
        flex-direction: column; } }

.services-block {
  width: 100%;
  height: 43.5rem;
  background: #F2F2F2;
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0 100%); }
  @media screen and (max-width: 830px) {
    .services-block {
      height: auto;
      clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0 100%); } }
  @media screen and (max-width: 360px) {
    .services-block {
      clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0 100%); } }
  .services-block__wrapper {
    width: 120rem;
    height: inherit;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1250px) {
      .services-block__wrapper {
        width: auto;
        margin: 0 1rem 0 1rem; } }
    @media screen and (max-width: 830px) {
      .services-block__wrapper {
        width: 35.5rem;
        height: auto;
        margin: 0 auto 0 auto; } }
    @media screen and (max-width: 360px) {
      .services-block__wrapper {
        width: auto; } }
  .services-block__content {
    display: flex;
    width: auto;
    height: auto;
    border: 0.1rem solid red;
    border-color: transparent;
    justify-content: space-between; }
    @media screen and (max-width: 830px) {
      .services-block__content {
        display: block;
        width: 100%;
        height: 76rem;
        margin: 0 auto 0 auto; } }
    @media screen and (max-width: 360px) {
      .services-block__content {
        width: 18rem;
        height: 125rem; } }

.articles-block {
  display: flex;
  width: 100%;
  min-height: auto;
  border: 0.1rem solid red;
  border-color: transparent; }
  .articles-block__wrapper {
    width: 120rem;
    height: 100%;
    margin: 0 auto 6rem auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 830px) {
      .articles-block__wrapper {
        width: 35.5rem; } }
  .articles-block__content {
    width: 100%;
    height: 100%;
    border: 0.1rem solid black;
    border-color: transparent;
    margin: 0 auto 0 auto; }
    @media screen and (max-width: 1210px) {
      .articles-block__content {
        width: 95rem;
        height: 55rem; } }
    @media screen and (max-width: 970px) {
      .articles-block__content {
        width: 80rem; } }
    @media screen and (max-width: 830px) {
      .articles-block__content {
        width: 35.5rem;
        height: 163rem; } }
    @media screen and (max-width: 360px) {
      .articles-block__content {
        width: auto; } }
  .articles-block__button {
    float: right;
    width: 20rem;
    height: 5rem;
    margin-top: 2.5rem;
    border: 0.1rem solid green;
    border-color: transparent; }

.footer-block {
  width: 100%;
  height: auto;
  background: #F2F2F2;
  border: 0.1rem solid red;
  border-color: transparent; }
  .footer-block__wrapper {
    display: flex;
    width: 120rem;
    height: auto;
    margin: 0 auto 0 auto;
    border: 0.1rem solid green;
    border-color: transparent;
    justify-content: space-between; }
    @media screen and (max-width: 1210px) {
      .footer-block__wrapper {
        width: auto; } }
    @media screen and (max-width: 960px) {
      .footer-block__wrapper {
        display: block;
        width: 65rem;
        height: 38rem; } }
    @media screen and (max-width: 660px) {
      .footer-block__wrapper {
        width: 35.5rem;
        height: 66rem; } }
    @media screen and (max-width: 360px) {
      .footer-block__wrapper {
        width: auto; } }
    @media screen and (max-width: 275px) {
      .footer-block__wrapper {
        height: 71rem; } }
    @media screen and (max-width: 170px) {
      .footer-block__wrapper {
        height: 79rem; } }
    @media screen and (max-width: 140px) {
      .footer-block__wrapper {
        height: 83rem; } }
  .footer-block__socials, .footer-block__differents, .footer-block__about, .footer-block__contacts {
    display: flex;
    width: 30rem;
    height: auto;
    margin: 0 1rem 1rem 1rem;
    border: 0.1rem dotted blue;
    border-color: transparent;
    flex-direction: column; }
    @media screen and (max-width: 960px) {
      .footer-block__socials, .footer-block__differents, .footer-block__about, .footer-block__contacts {
        float: left; } }
    @media screen and (max-width: 360px) {
      .footer-block__socials, .footer-block__differents, .footer-block__about, .footer-block__contacts {
        width: auto; } }
  .footer-block__socials-content {
    margin-top: 1rem;
    border: 0.1rem solid red;
    border-color: transparent; }

.contact-info {
  width: 100%;
  height: auto;
  border: 0.1rem solid red;
  border-color: transparent; }
  .contact-info__wrapper {
    width: 120rem;
    height: 100%;
    margin: 12rem auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1210px) {
      .contact-info__wrapper {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 830px) {
      .contact-info__wrapper {
        width: 35.5rem;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 360px) {
      .contact-info__wrapper {
        width: auto; } }
  .contact-info__content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 970px) {
      .contact-info__content {
        justify-content: center;
        flex-direction: column; } }
    @media screen and (max-width: 830px) {
      .contact-info__content {
        width: 35.5rem; } }
    @media screen and (max-width: 360px) {
      .contact-info__content {
        width: auto; } }
  .contact-info__splitter {
    width: 7rem;
    height: 0;
    margin: 2rem auto 2rem auto;
    border: 0.1rem solid #F2F2F2;
    visibility: hidden; }
    @media screen and (max-width: 970px) {
      .contact-info__splitter {
        visibility: visible; } }

.contact-map {
  width: 100%;
  height: 100%;
  margin: 0 auto -0.2vh auto;
  border: 0.1rem solid black;
  border-color: transparent;
  clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0 100%); }

.feedback-block {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  border: 0.1rem solid black;
  border-color: transparent; }
  .feedback-block__wrapper {
    width: 120rem;
    height: 100%;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1210px) {
      .feedback-block__wrapper {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 830px) {
      .feedback-block__wrapper {
        width: 35.5rem;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 360px) {
      .feedback-block__wrapper {
        width: auto; } }

.not-found {
  width: auto;
  height: auto;
  text-align: center;
  color: #586069;
  text-transform: lowercase; }
  .not-found__title {
    font-size: 4rem;
    color: #24292E; }
  .not-found__caption {
    font-size: 2.5rem; }
  .not-found__title, .not-found__caption, .not-found__description {
    padding: 0 1rem 0 1rem;
    border: 0.1rem dotted blue;
    border-color: transparent; }
    .not-found__title:first-letter, .not-found__caption:first-letter, .not-found__description:first-letter {
      text-transform: uppercase; }

.service-form {
  width: 100%;
  height: auto;
  border: 0.1rem solid red;
  border-color: transparent; }
  .service-form__wrapper {
    width: 120rem;
    height: 100%;
    margin: 12rem auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1210px) {
      .service-form__wrapper {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 830px) {
      .service-form__wrapper {
        width: 35.5rem;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 360px) {
      .service-form__wrapper {
        width: auto; } }
  .service-form__content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    border: 0.1rem solid black;
    border-color: transparent;
    justify-content: center;
    flex-direction: column; }
    @media screen and (max-width: 1210px) {
      .service-form__content {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 830px) {
      .service-form__content {
        width: 35.5rem;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 360px) {
      .service-form__content {
        width: auto; } }

.service-description {
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
  border: 0.1rem dotted blue;
  border-color: transparent; }
  .service-description__wrapper {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto 1rem auto;
    border: 0.1rem solid black;
    border-color: transparent; }
    @media screen and (max-width: 1210px) {
      .service-description__wrapper {
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 1210px) {
      .service-description__wrapper {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 830px) {
      .service-description__wrapper {
        width: 35.5rem;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 360px) {
      .service-description__wrapper {
        width: auto; } }
  .service-description__article {
    padding: 1rem;
    color: #586069;
    text-align: justify; }
    @media screen and (max-width: 830px) {
      .service-description__article {
        text-align: left; } }
    .service-description__article-bold {
      color: #24292E; }
    .service-description__article-link {
      position: relative;
      text-decoration: none;
      color: #1883B3;
      outline: none; }
      .service-description__article-link:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: #1883B3;
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(1rem);
        visibility: hidden;
        content: ""; }
      .service-description__article-link:hover::after {
        opacity: 1;
        transform: translateY(0.2rem);
        visibility: visible; }

.main-content {
  width: auto;
  height: auto;
  border: 0.1rem solid red;
  border-color: transparent; }
  .main-content__slider, .main-content__news, .main-content__services, .main-content__articles {
    width: auto;
    height: auto;
    border: 0.1rem solid red;
    border-color: transparent; }

.contacts-content {
  width: auto;
  height: auto; }
  .contacts-content__info, .contacts-content__feed-back, .contacts-content__map {
    width: auto;
    height: auto; }

.not-found__content {
  display: flex;
  width: auto;
  min-height: 100vh;
  border: 0.1rem solid red;
  border-color: transparent;
  justify-content: center;
  align-items: center; }
.not-found__wrapper {
  margin: 0 auto 0 auto;
  width: 120rem;
  height: 20rem;
  border: 0.1rem solid red;
  border-color: transparent; }
  @media screen and (max-width: 970px) {
    .not-found__wrapper {
      width: auto; } }
  @media screen and (max-width: 830px) {
    .not-found__wrapper {
      margin: 12rem auto 12rem auto;
      height: auto; } }

.service__content {
  display: flex;
  width: auto;
  border: 0.1rem solid red;
  border-color: transparent;
  justify-content: center;
  align-items: center; }
.service__wrapper {
  margin: 0 auto 0 auto;
  width: 120rem;
  height: auto;
  border: 0.1rem solid red;
  border-color: transparent; }
  @media screen and (max-width: 970px) {
    .service__wrapper {
      width: auto; } }
  @media screen and (max-width: 830px) {
    .service__wrapper {
      margin: 0 auto 0 auto;
      height: auto; } }

.template-service__content {
  width: auto;
  min-height: 100vh;
  height: 100%;
  border: 0.1rem solid red;
  border-color: transparent; }
.template-service__wrapper {
  width: 120rem;
  height: 100%;
  margin: 12rem auto 0 auto;
  border: 0.1rem solid black;
  border-color: transparent; }
  @media screen and (max-width: 1210px) {
    .template-service__wrapper {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media screen and (max-width: 830px) {
    .template-service__wrapper {
      width: 35.5rem;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 360px) {
    .template-service__wrapper {
      width: auto; } }
.template-service__description {
  margin-bottom: 6rem;
  padding: 0.5rem 0 0.5rem 0;
  color: #586069;
  border: 0.1rem solid red;
  border-color: transparent; }
  @media screen and (max-width: 970px) {
    .template-service__description {
      justify-content: center;
      flex-direction: column; } }
  @media screen and (max-width: 830px) {
    .template-service__description {
      width: 35.5rem; } }
  @media screen and (max-width: 360px) {
    .template-service__description {
      width: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  .template-service__description b {
    color: #24292E; }

/*# sourceMappingURL=style.css.map */
