mixin articles-block(parameter)
  -
    var
      parameter = parameter || {};

      titleChapter = parameter.titleChapter || "titile";

      titles = parameter.titles || ["title", "title"];
      descriptions = parameter.descriptions || ["desc", "desc"];
      images = parameter.images || ["none", "none"];

  //-

  .articles-block
    .articles-block__wrapper
      +chapter({
        title: titleChapter
      })

      .articles-block__content
        -for (var i = 1; i <= titles.length; i++)
          +article({
            title: titles[i - 1],
            description: descriptions[i - 1],
            imageName: images[i - 1]
          })

        .articles-block__button
          +button({caption: 'все статьи'})