.footer-block
  width: 100%
  height: auto
  background: $colorGeneralFon
  +border-red

  &__wrapper
    display: flex
    width: auto
    height: auto
    margin: 0 auto 0 auto
    +border-green
    justify-content: space-between

    @media screen and (max-width: 960px)
      display: block
      width: 65rem
      height: 38rem

    @media screen and (max-width: 660px)
      width: $generalMinWidthForBlock
      height: 65rem

    @media screen and (max-width: 360px)
      width: auto

    @media screen and (max-width: 275px)
      height: 70rem

    @media screen and (max-width: 170px)
      height: 78rem

    @media screen and (max-width: 140px)
      height: 82rem

  &__socials,
  &__differents,
  &__about,
  &__contacts
    display: flex
    width: 30rem
    height: auto
    margin: 0 1rem 1rem 1rem
    +border-blue
    flex-direction: column

    @media screen and (max-width: 960px)
      float: left

    @media screen and (max-width: 360px)
      width: auto

  &__socials-content
    margin-top: 1rem
    +border-red