mixin menu(parameter)
  -
    var
      parameter = parameter || {};

      titles = parameter.titles || [
        "menu-1",
        "menu-2",
        "menu-3",
        "menu-4"
      ];

      links = parameter.links || [""];

  //-

  .menu
    input#menuBurger.menu-nav__burger-checkbox(type="checkbox")
    label.menu-nav__burger(for="menuBurger") Меню

    nav.menu-nav
      ul.menu-nav__list
        -for (var i = 1; i <= titles.length; i++)
          li.menu-nav__item
            a.menu-nav__link(href= links[i - 1])= titles[i - 1]