// NOTE: font-size settings
$sizeBigFont: 4rem
$sizeTitleFont: 2.5rem
$sizeRegularFont: 2rem
$sizeSmallTitleFont: 1.5rem
$sizeSmallRegularFont: 1.2rem

// NOTE: font-decoration settings
$colorFontTitle: #24292E
$colorFontText: #586069
$colorFontLink: #1883B3
$colorFontWhite: #FFFFFF

// NOTE: different colors
$colorYellow: #FFCC00
$colorBlue: #1A3159
$colorGeneralFon: #F2F2F2

// NOTE: content settings
$contentWidth: 120rem

// NOTE: z-index
$zSliderBlock: 1
$zHeaderBlock: 999

// NOTE: animation settings
$opacity: 0.8
$box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8)
$transition: all 0.3s