// NOTE: font-size settings
$sizeBigFont: 4rem
$sizeTitleFont: 2.5rem
$sizeRegularFont: 2rem
$sizeSmallRegularFont: 1.5rem

// NOTE: font-decoration settings
$colorFontTitle: #24292E
$colorFontText: #586069
$colorFontLink: #3266D9
$colorFontWhite: #FFFFFF

// NOTE: different colors
$colorYellow: #FFCC00
$colorBlue: #1A3159

// NOTE: content settings
$contentWidth: 120rem