#NOTE: caches
node_modules/
build/
npm_debug.*
Thumbs.db

debug/src/sass/.sass-cache
debug/src/.sass-cache
debug/src/sass/.styles.css.map

#NOTE: images
debug/src/images/articles/jpg
debug/src/images/articles/templates
debug/src/images/events/jpg
debug/src/images/sliders/jpg

debug/src/images/contact/png
debug/src/images/services/png
debug/src/images/logo/png
debug/src/images/catalog/menu/png
debug/src/images/catalog/temp
debug/src/images/catalog/products/png
debug/src/images/menu/png
debug/src/images/registration/png

#NOTE: web files
debug/src/*.css
debug/src/css/*
debug/src/*.html
debug/src/**/scripts.js

#NOTE: differents
*.ai
*.log
*.pdf
*.psd
desktop.ini
.idea
