#NOTE: caches
node_modules/
build/
npm_debug.*
Thumbs.db

build/src/sass/.sass-cache
build/src/.sass-cache
build/src/sass/.styles.css.map

#NOTE: images
build/src/images/articles/jpg
build/src/images/articles/templates
build/src/images/events/jpg
build/src/images/services/jpg
build/src/images/sliders/jpg
build/src/images/logo/jpg
build/src/images/contact/png

#NOTE: web files
build/src/*.css
build/src/css/*
build/src/*.html
build/src/**/*.js

#NOTE: differents
*.ai
*.log
*.pdf
*.psd