//- NOTE: including ui-kit's
include src/ui-kit/chapter/chapter
include src/ui-kit/logo/logo
include src/ui-kit/menu/menu

//- NOTE: including pages
include src/pages/head/head
include src/pages/index/index