//- NOTE: including ui-kit's
include src/ui-kit/chapter/chapter
include src/ui-kit/logo/logo
include src/ui-kit/menu/menu
include src/ui-kit/slider/slider
include src/ui-kit/news/news
include src/ui-kit/service/service
include src/ui-kit/article/article
include src/ui-kit/social/social

//- NOTE: including block's
include src/blocks/header-block/header-block
include src/blocks/slider-block/slider-block
include src/blocks/news-block/news-block
include src/blocks/services-block/services-block
include src/blocks/articles-block/articles-block
include src/blocks/footer-block/footer-block

//- NOTE: including pages
include src/pages/head/head
include src/pages/index/index