doctype html
html(lang="ru")
  +head({
    keywords: `новинки окна пвх, новинки, акции, распродажа,
      жалюзи скидка, гду купить, подоконники новинки`,

    description: `Компания ПФК предлагает купить подоконники ПВХ,
      комплектующие и фурнитуры для окон, оптом, от производителя по
      выгодной цене. Продукция сертифицирована`,

    title: `ПФК события.`
  })

body
  header.header
    +header-block

  main.template-service__content
    section.template-service__wrapper
      +chapter({
        title: 'SSssss'
      })

  footer.footer
  +footer-block

//-

+scripts-include