mixin news(parameter)
  -var parameter = parameter || {};

  //-

  .news
    img.news__image(
      src="http://placehold.it/300x300"
      alt= alt
      title= title)

    .news__content
      p.news__title
      p.news__description