doctype html
html(lang="ru")
  +head({
    keywords: `новинки окна пвх, новинки, акции, распродажа,
      жалюзи скидка, где купить, подоконники новинки`,

    description: `Компания ПФК предлагает купить подоконники ПВХ,
      комплектующие и фурнитуры для окон, оптом, от производителя по
      выгодной цене. Продукция сертифицирована`,

    title: `ПФК статьи.`
  })

  body
    header.header
      +header-block

    main.catalog
      section.catalog__sidebar
        +catalog-list({
          title: [
            "пластиковые подоконники",
            "сэндвич панели, пластиковые ПВХ",
            "оконные отливы",
            "оконная фурнитура",
            "уплотнители для окон и дверей",
            "метизы",
            "алюминевые окна",
            "космофен",
            "металлический сайдинг",
            "нащельники ПВХ",
            "клеи",
            "пистолеты для пены и герметиков",
            "алюминевый профиль для балконов",
            "пластиковые окна",
            "монтажная пена",
            "псул",
            "панели ПВХ",
            "герметизирующие материалы",
            "клейкие ленты",
            "комплектующие для москитных сеток"
          ]
        })

      section.catalog__content
        .catalog__content-wrapper
          //- FIXME: for debug
          //- <?php require 'ui-kit/catalog-product/catalog-product.php'; ?>

          //- FIXME: for build
          <?php require 'templates/catalog-product.php'; ?>

    footer.footer
      +footer-block

  //-

  +scripts-include