mixin service-form(parameter)
  -
    var
      parameter = parameter || {};

      title = parameter.title || "titile";
      caption = parameter.caption || "caption";
      description = parameter.description || "desc";

  //-

  .service-form
    .service-form__wrapper
      +chapter({title: "сервисная служба"})

    .service-form__content
      +feed-back({
        type: "advanced",
        description: `Заполните заявку в сервисную службу,
          обязательные для заполнения поля помечены знаком *`,

        idTick: [
          "repair",
          "dismantling",
          "installation",
          "order"
        ],

        captionTick: [
          "Ремонт",
          "Демонтаж",
          "Монтаж",
          "Запчасти"
        ]
      })
