mixin services-block(parameter)
  -var parameter = parameter || {};

  //-

  .services-block
    .services-block__wrapper
      +chapter({
          title: "услуги",
          indent: "true"
        })

      .services-block__content
        +service({
          imageName: "service-1",
          title: "комплексное остекление"
        })

        +service({
          imageName: "service-2",
          title: "ремонт окон"
        })

        +service({
          imageName: "service-3",
          title: "гарантийное обслуживание"
        })

        +service({
          imageName: "service-4",
          title: "бесплатный замер"
        })

        +service({
          imageName: "service-5",
          title: "качественная доставка"
        })
