mixin services-block(parameter)
  -var parameter = parameter || {};

  //-

  .services-block
    .services-block__wrapper
      +chapter({
          title: "услуги",
          indent: "true"
        })

      .services-block__content
        +service
        +service
        +service
        +service
        +service