doctype html
html(lang="ru")
  +head

body
  header.header
    +header-block

  main.main-content
    section.main-content__slider
      +slider-block

    section.main-content__news
      +events-block({
        firstLink: "",
        firstImageName: "news-1",
        firstImageAlt: "",
        firstImageTitle: "",
        firstTitle: "новинки",
        firstDescription: "просмотреть новинки от 01.06.2019",

        secondLink: "",
        secondImageName: "news-2",
        secondImageAlt: "",
        secondImageTitle: "",
        secondTitle: "лови момент",
        secondDescription: "узнать подробности акции, до 1.06.2019",

        thirdLink: "",
        thirdImageName: "news-3",
        thirdImageAlt: "",
        thirdImageTitle: "",
        thirdTitle: "сайт в доработке",
        thirdDescription: "описание планируемых доработок и изменений"
      })

    section.main-content__services
      +services-block

    section.main-content__articles
      +articles-block

  footer.footer
    +footer-block





//- NOTE:
//- format for all objects: ({parameter: 'value', parameter: number})
//- if any parameter is NOT specified, value will be - the default

//- ---

//- chapter:
//-     titleType: "h1, h2, h3, or P - if default",
//-     title: "text",
//-     color: "white, or black - if default"

//- ---

//- logo:
//-     alt: "text",
//-     title: "text"

//- ---
