doctype html
html(lang="ru")
  +head

body
  header.header
    +header-block

  main.main-content
    section.main-content__slider
      +slider-block

    section.main-content__news
      +events-block({
        titleChapter: "события",

        imagesName: [
          "news-1",
          "news-2",
          "news-3"
        ],

        imagesAlt: [

        ],

        imagesTitle: [

        ],

        titles: [
          "новинки",
          "лови момент",
          "сайт в доработке"
        ],

        description: [
          "просмотреть новинки от 01.06.2019",
          "узнать подробности акции, до 1.06.2019",
          "описание планируемых доработок и изменений"
        ]
      })

    section.main-content__services
      +services-block({
        titleChapter: "услуги",

        imagesName: [
          "service-1",
          "service-2",
          "service-3",
          "service-4",
          "service-5"
        ],

        imagesAlt: [

        ],

        imagesTitle: [

        ],

        titles: [
          "комплексное остекление",
          "ремонт окон",
          "гарантийное обслуживание",
          "бесплатный замер",
          "качественная доставка"
        ]
      })

    section.main-content__articles
      +articles-block({
        titleChapter: "статьи",

        titles: [
          "Статья отсутствует",
          "Статья отсутствует",
          "Статья отсутствует",
          "Статья отсутствует",
          "Статья отсутствует",
          "Статья отсутствует"
        ],

        descriptions: [
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`,
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`,
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`,
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`,
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`,
          `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`
        ],

        images: [
          "1",
          "2",
          "3",
          "4",
          "5",
          "6"
        ]
      })

  footer.footer
    +footer-block

  //-

  +scripts-include