doctype html
html(lang="ru")
  +head({
    keywords: `пластиковые окна, производитель, купить, цены,
      пвх, рольставни, жалюзи, пластиковые, оптом, розница, подоконники,
      оптом, оптом от производителя`,

    description: `Компания ПФК предлагает купить подоконники ПВХ,
      комплектующие и фурнитуры для окон, оптом, от производителя по
      выгодной цене. Продукция сертифицирована`,

    title: `ПФК предлагает: пластиковые окна и подоконники по выгодной цене.`
  })

body
  header.header
    +header-block

  main.main-content
    section.main-content__slider
      +slider-block

    section.main-content__news
      +events-block({
        titleChapter: "события",

        imagesName: [
          "news-1",
          "news-2",
          "news-3"
        ],

        imagesAlt: [
          "",
          "",
          "",
        ],

        imagesTitle: [

        ],

        titles: [
          "новинки",
          "лови момент",
          "сайт в доработке"
        ],

        description: [
          "просмотреть новинки от 01.06.2019",
          "узнать подробности акции, до 1.06.2019",
          "описание планируемых доработок и изменений"
        ]
      })

    section.main-content__services
      +services-block({
        titleChapter: "услуги",

        imagesName: [
          "service-1",
          "service-2",
          "service-3",
          "service-4",
          "service-5"
        ],

        imagesAlt: [

        ],

        imagesTitle: [

        ],

        titles: [
          "комплексное остекление",
          "ремонт окон",
          "гарантийное обслуживание",
          "бесплатный замер",
          "качественная доставка"
        ],

        linkSheet: [
          "browsing-services.php?idServices=1",
          "browsing-services.php?idServices=2",
          "browsing-services.php?idServices=3",
          "browsing-services.php?idServices=4",
          "browsing-services.php?idServices=5"
        ]
      })

    section.main-content__articles
      .articles-block
        .articles-block__wrapper
          +chapter({
            title: "статьи"
          })

          .articles-block__content
            //- FIXME: for debug
            <?php require 'ui-kit/article/article.php'; ?>

            //- FIXME: for build
            //- <?php require 'templates/article.php'; ?>

  footer.footer
    +footer-block

  //-

  +scripts-include