.chapter
  width: 100%
  height: 7rem
  +border-black
  display: flex
  align-items: center

  &__title
    width: auto
    margin: 0 auto 0 auto
    +border-green
    font-size: $sizeTitleFont
    font-weight: bold
    text-align: center
    letter-spacing: 0.12rem
    color: $colorFontTitle

    &:first-letter
      text-transform: uppercase