.chapter
  width: 100%
  +border-black
  display: flex
  align-items: center

  &__title
    width: auto
    +border-green
    font-weight: bold
    text-align: center
    text-transform: lowercase
    letter-spacing: 0.12rem

    &:first-letter
      text-transform: uppercase

  &__indent
    margin-top: 3.5rem

  &__size
    &-standard
      height: 7rem
      font-size: $sizeTitleFont
      color: $colorFontTitle

    &-small
      height: 3rem
      font-size: $sizeSmallTitleFont
      color: $colorFontTitle