mixin news-block(parameter)
  -var parameter = parameter || {};

  //-

  .news-block
    .news-block__wrapper
      +chapter({
        title: "новости"
      })

      .news-block__content
        +news({
          imageName: "news-1"
        })

        +news

        +news({
          imageName: "news-3"
        })
