mixin slider-block(parameter)
  -var parameter = parameter || {};

  //-

  .main-slider
    .main-slider__button-back
    .main-slider__button-forward

    .slider__wrapper
      ul.slider__list
        li.slider__item
          +slider
