mixin articles-block(parameter)
  -var parameter = parameter || {};

  //-

  .articles-block
    .articles-block__wrapper
      +chapter({
          title: "статьи"
        })

      .articles-block__content
        +article({title: "1"})
        +article({title: "2"})
        +article({title: "3"})
        +article({title: "4"})
        +article({title: "5"})
        +article({title: "6"})

        .articles-block__button
          +button({caption: 'все статьи'})