mixin articles-block(parameter)
  -var parameter = parameter || {};

  //-

  .articles-block
    .articles-block__wrapper
      +chapter({
          title: "статьи"
        })

      .articles-block__content
        +article({
          title: "Статья отсутствует",
          description: `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`})

        +article({
          title: "Статья отсутствует",
          description: `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`})

        +article({
          title: "Статья отсутствует",
          description: `Ой, что то пошло не так, и с статьей случилось что то
            страшное и ужасное. Обещаем, что мы скоро все исправим!`})


        .articles-block__button
          +button({caption: 'все статьи'})