.articles-block
  width: 100%
  height: 73.5rem
  +border-red

  &__wrapper
    width: $contentWidth
    height: inherit
    margin: 0 auto 0 auto
    +border-black

  &__content
    width: 100%
    height: auto
    +border-black

  &__button
    float: right
    width: 20rem
    height: 5rem
    +border-green