.articles-block
  width: 100%
  min-height: auto
  +border-red
  display: flex

  &__wrapper
    width: $contentWidth
    height: inherit
    margin: 0 auto 0 auto
    +border-black
    margin-bottom: 6.1rem

  &__content
    width: 100%
    height: auto
    +border-black

  &__button
    float: right
    width: 20rem
    height: 5rem
    +border-green
    margin-top: 2.5rem