//- NOTE: including ui-kit's
include ui-kit/chapter/chapter
include ui-kit/button/button
include ui-kit/logo/logo
include ui-kit/menu/menu
include ui-kit/social/social
include ui-kit/mini-menu/mini-menu

//- **

//- NOTE: including block's
include blocks/header-block/header-block
include blocks/footer-block/footer-block

//- **

//- NOTE: including pages
include pages/head/head
include pages/scripts-include/scripts-include
include pages/browsing/browsing