//- NOTE: including ui-kit's
include ui-kit/chapter/chapter
include ui-kit/button/button
include ui-kit/logo/logo
include ui-kit/menu/menu
include ui-kit/slider/slider
include ui-kit/events/events
include ui-kit/service/service
include ui-kit/article/article
include ui-kit/social/social
include ui-kit/mini-menu/mini-menu

//- **

//- NOTE: including block's
include blocks/header-block/header-block
include blocks/slider-block/slider-block
include blocks/events-block/events-block
include blocks/services-block/services-block
include blocks/articles-block/articles-block
include blocks/footer-block/footer-block

//- **

//- NOTE: including pages
include pages/head/head
include pages/scripts-include/scripts-include
include pages/index/index