//- NOTE: including ui-kit's
include ui-kit/chapter/chapter
//- **

//- NOTE: including pages
include pages/head/head
include pages/scripts-include/scripts-include
include pages/not-support/not-support