//- NOTE: including ui-kit's
include ui-kit/chapter/chapter
include ui-kit/button/button
include ui-kit/logo/logo
include ui-kit/menu/menu
include ui-kit/panel-authorization/panel-authorization
include ui-kit/panel-admin/panel-admin
include ui-kit/panel-user/panel-user
include ui-kit/registration-form/registration-form
include ui-kit/tick-box/tick-box
include ui-kit/social/social
include ui-kit/mini-menu/mini-menu
include ui-kit/registration-type/registration-type

//- **

//- NOTE: including block's
include blocks/header-block/header-block
include blocks/registration-block/registration-block
include blocks/footer-block/footer-block

//- **

//- NOTE: including pages
include pages/head/head
include pages/scripts-include/scripts-include
include pages/registration/registration
