mixin events-block(parameter)
  -
    var
      parameter = parameter || {};

      titleChapter = parameter.titleChapter || "title";
      titleType = parameter.titleType || "";

      imagesName = parameter.imagesName || ["imageName", "imageName"];
      imagesAlt = parameter.imagesAlt || ["alt SEO", "alt SEO"];
      imagesTitle = parameter.imagesTitle || ["title SEO", "title SEO"];
      titles = parameter.titles || ["title", "title"];
      descriptions = parameter.description || ["desc", "desc"];
      linkSheet = parameter.linkSheet || ["#", "#"];

  //-

  .events-block
    .events-block__wrapper
      +chapter({
        title: titleChapter,
        titleType: titleType
      })

      .events-block__content
        -for (var i = 1; i <= titles.length; i++)
          +events({
            link: linkSheet[i - 1],
            imageName: imagesName[i - 1],
            imageAlt: imagesAlt[i - 1],
            imageTitle: imagesTitle[ i - 1],
            title: titles[i - 1],
            description: descriptions[i - 1]
          })