mixin menu

  //-

  .menu
    ul.menu__list
      li.menu__item
        a.menu__link(href="index.html") Главная

      li.menu__item
        a.menu__link(href="catalog.html") Каталог

      li.nav__item
        a.menu__link(href="service.html") Сервис

      li.nav__item
        a.menu__link(href="contacts.html") Контакты