//- NOTE: JS:
mixin scripts-include(parameter)
  //- FIXME: check the path, when importing the block to other projects
  -var patchBlock = './blocks/';
  -var patchUiKit = './ui-kit/';

  //-

  script(src = patchBlock + 'header-block/header-block.js' defer)
  script(src = patchUiKit + 'button/button__ripple.js' defer)