doctype html
html(lang="ru")
  +head({
    keywords: `новинки окна пвх, новинки, акции, распродажа,
      жалюзи скидка, где купить, подоконники новинки`,

    description: `Компания ПФК предлагает купить подоконники ПВХ,
      комплектующие и фурнитуры для окон, оптом, от производителя по
      выгодной цене. Продукция сертифицирована`,

    title: `ПФК события.`
  })

  body
    header.header
      +header-block

    main.browsing-services__content
      section.browsing-services__wrapper

        .chapter.chapter__size-standard
          p.chapter__title.chapter__color-standard
            <?= $title ?>

        p.browsing-services__description
          <?= $desc ?>

    footer.footer
    +footer-block

  //-

  +scripts-include