mixin map(parameter)
  -
    var
      parameter = parameter || {};
      eventName = parameter.eventName || 'Meet us!';
      address = parameter.address || '1259 california st san francisco, ca';

  //-

  .map
    script(type="text/javascript",
      charset="utf-8",
      async="",
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac45bb7501191d4d0636163c628538d63144f91e72ee6327ef8483243334de076&width=100%25&height=550&lang=ru_RU&scroll=false")