mixin map

  //-

  .map
    script(type="text/javascript",
      charset="utf-8",
      defer,
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac45bb7501191d4d0636163c628538d63144f91e72ee6327ef8483243334de076&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=false")