mixin service(parameter)
  -
    var
      parameter = parameter || {};
      link = parameter.link || "#";
      imageName = parameter.imageName || "service";
      imageAlt = parameter.imageAlt || "SEO alt";
      imageTitle = parameter.imageTitle || "SEO title";
      title = parameter.title || "title";

  //-

  .service
    a.service__link(href= link)
      img.service__image(
        src="./images/services/" + imageName + ".png"
        alt= imageAlt
        title= imageTitle)

      p.service__title= title