mixin service(parameter)
  -var parameter = parameter || {};

  //-

  .service
    img.service__image(
      src="http://placehold.it/150x150"
      alt= alt
      title= title)

    p.service__title